<div class="order-cart">
  <span></span>
  <span>
    <button
      *ngIf="!ordering && cart?.length"
      mat-raised-button
      color="accent"
      (click)="order()"
    >
      <mat-icon>add_circle_outline</mat-icon>Order Cart
    </button>
    <app-spinner *ngIf="ordering"></app-spinner>
  </span>
</div>

<div class="cart">
  <app-product-item
    *ngFor="let item of cart"
    [product]="item.product"
    [actions]="'remove_from_cart'"
    (refreshProducts)="readCart()"
  >
    <div class="row"><b>Quantity: </b>{{ item.quantity }}</div>
  </app-product-item>
</div>

<div class="empty" *ngIf="!cart?.length">
  CART EMPTY
</div>