<mat-toolbar color="primary" class="mat-elevation-z24">
  <span>
    <button *ngIf="!products" mat-button [routerLink]="productsLink">
      <mat-icon>shopping_basket</mat-icon>Products
    </button>
    <button *ngIf="!cart" mat-button [routerLink]="cartLink">
      <mat-icon>shopping_cart</mat-icon>Shopping Cart
    </button>
  </span>
  <span>
    <button *ngIf="!login" mat-icon-button [matMenuTriggerFor]="more">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #more="matMenu">
      <button mat-menu-item (click)="logout()">
        <mat-icon>logout</mat-icon>
        <span>Sign out</span>
      </button>
    </mat-menu>
  </span>
</mat-toolbar>
