.orders {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.order {
  border: 1px solid rgb(116, 112, 112);
  border-radius: 5px;
  margin: 10px;
  width: 400px;
}

.mat-card {
  padding: 0;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  background-color: rgb(168, 165, 165);
  opacity: 0.8;
  height: 30px;
  padding: 5px;
}

.body {
  padding: 10px;
}

.row {
  margin-top: 7px;
}
